@use "variables/colors";
@use "partials/first-section";
@use "partials/fonts";
@use "partials/header";
@use "partials/articles";


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
}
