@use "variables/colors";
@use "partials/first-section";
@use "partials/fonts";
@use "partials/header";
@use "partials/search-box";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
}
@media (min-width: 900px) {
  main {
    padding-left: 8%;
    padding-right: 8%;
  }
}
