@use "variables/colors";
@use "partials/first-section";
@use "partials/fonts";
@use "partials/header";
@use "partials/search-box";
@use "partials/house-cards";
@use "partials/notice-boxes";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  ul {
    list-style: none;
  }
}

@media (min-width: 900px) {
  main {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (min-width: 900px) {
  .search-box-and-search-result-container {
    display: flex;
  }
}
@media (min-width: 900px) {
  .search-box-container {
    flex: 1;
  }
  .review-container {
    flex: 2;
  }
}
@media (min-width: 900px) {
  .search-result__image {
    margin-right: 35px;
  }
}
