@use "variables/colors";
@use "partials/first-section";
@use "partials/fonts";
@use "partials/header";
@use "partials/house-cards";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  ul {
    list-style: none;
  }
}

main {
  padding: 0 0 10px 10px;
}
