$primary-color: #5f2eea;

$typography-color: #000000;

$background-color: #fff;

$highlighted-content-color: #ed2e7e;

$benefit-alert-color: #00966d;

$detriment-alert-color: #c30052;

$secundary-color: #7c7bdd;

$grey-borders-color: #bca4ff46;

$grey-body-color: #4e4b66;
