@use "../variables/colors";

.first-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size: 1.2em;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  &__list-item {
    list-style-type: none;
    padding-right: 0;
    width: 100%;
    height: 56px;
    margin: 15px;
  }
  &__input {
    border: 2px solid colors.$typography-color;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 0 6%;
    letter-spacing: 0.75px;
    font-size: larger;
    &::placeholder {
      opacity: 1;
      color: black;
    }
  }
}

@media (min-width: 900px) {
  .first-section-container {
    flex-direction: row;
  }
}
