@use "../variables/colors";

.flight-formulary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size: 1.2em;
  border-bottom: 1px solid #bca4ff46;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  &__list-item {
    list-style-type: none;
    padding-right: 0;
    width: 100%;
    height: 56px;
    margin: 15px;
  }
  &__input {
    border: 3px solid colors.$typography-color;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 0 6%;
    letter-spacing: 0.75px;
    font-size: larger;
    &::placeholder {
      opacity: 1;
      color: black;
    }
  }
  &__button {
    border: 2px solid colors.$highlighted-content-color;
    background-color: colors.$highlighted-content-color;
    font-family: Poppins;
    width: 100%;
    height: 55px;
    color: white;
    letter-spacing: 0.75px;
    font-size: larger;
    border-radius: 40px;
  }
}

@media (min-width: 900px) {
  .flight-formulary-container {
    align-items: flex-start;
    width: 100%;
    padding: 66 110;
    &__heading {
      margin-top: 0;
    }
    &__container {
      width: 100%;
    }
    &__bigger {
      width: 100%;
    }
    &__list {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    &__list-item {
      width: 100%;
      margin: 10px;
      &__bigger {
        width: 200%;
      }
    }
    &__button {
      font-size: large;
    }
    &__input {
      font-size: large;
    }
  }
}
