@use "../variables/colors";
@use "./fonts";
@use "../mixins/mixins";

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title--footer-title {
    color: colors.$primary-color;
  }
  &__services {
    display: none;
  }
  &__continents {
    display: none;
  }

  &__email {
    color: colors.$primary-color;
  }
  &__contact {
    @include mixins.footer-text-style;
    padding: 0 10%;
    height: 180px;
    margin-bottom: 80px;
  }
}

.content-container {
  @include mixins.footer-text-style;
}
