@use "../variables/colors";
@use "./fonts";
.header__title {
  color: colors.$primary-color;
  margin: 0;
  display: inline-block;
}

.header {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 20px 25px;
  align-content: center;
  border-bottom: 1px solid colors.$grey-borders-color;
}

.header__navigation {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#burgers {
  display: none;
}

label[for="burgers"] span {
  width: 20px;
  background-color: colors.$primary-color;
  border: 1.5px solid colors.$primary-color;
  border-radius: 30px;
  cursor: pointer;
}
label[for="burgers"] {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

@media (min-width: 900px) {
  .header {
    padding-left: 80px;
  }
}
