@use "../variables/colors";
@use "./fonts";

.search-result__ubication-icon {
  -webkit-text-stroke: 2px #7c7bdd;
  -webkit-text-fill-color: transparent;
}

.review-container {
  margin-top: 42px;
  margin-left: 30px;
}
//carrusel midudev para scroll de las imagenes
.search-result {
  margin-top: 42px;
  border-bottom: 1px solid #bca4ff46;
  &__images {
    padding-left: 0;
  }
  &__rating {
    padding: 22px 0 15px 10;
  }
  &review {
    margin-right: 20px;
  }
}

.fa-solid.fa-star {
  -webkit-text-stroke: 2px #ed2e7e;
  -webkit-text-fill-color: transparent;
}

.booking-button {
  background-color: white;
  color: #5f2eea;
  border: 2px solid #d9dbe9;
  width: 40%;
  height: 55px;
  letter-spacing: 0.75px;
  font-size: medium;
  border-radius: 40px;
}

@media (min-width: 900px) {
  .search-result {
    display: flex;
    flex-direction: row;
  }
  .booking-button {
    width: 100%;
  }
}
