@use "../variables/colors";
@use "./fonts";

.search-result__ubication-icon {
  -webkit-text-stroke: 2px #7c7bdd;
  -webkit-text-fill-color: transparent;
}

.review-container {
  margin-top: 42px;
}
//carrusel midudev para scroll de las imagenes
.search-result {
  margin-top: 42px;
  border-bottom: 1px solid #bca4ff46;
}

.fa-solid.fa-star {
  -webkit-text-stroke: 2px #7c7bdd;
  -webkit-text-fill-color: transparent;
}

.booking-button {
  background-color: white;
  color: #5f2eea;
  border: 2px solid #d9dbe9;
  width: 20%;
  height: 55px;
  letter-spacing: 0.75px;
  font-size: larger;
  border-radius: 40px;
}

@media (min-width: 900px) {
  .search-result {
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  .booking-button {
    width: 100%;
    position: relative;
  }
}
