@use "../variables/colors";
@use "./fonts";

.search-result__ubication-icon {
  -webkit-text-stroke: 2px colors.$secundary-color;
  -webkit-text-fill-color: transparent;
}

.review-container {
  margin-top: 42px;
  margin-left: 30px;
}
//carrusel midudev para scroll de las imagenes
.search-result {
  margin-top: 42px;
  border-bottom: 1px solid colors.$grey-borders-color;
  &__images {
    padding-left: 0;
  }
  &__rating {
    padding: 22px 0 15px 0;
  }
  &__review {
    margin-right: 20px;
  }
  &__heading {
    color: colors.$primary-color;
    font-weight: 600;
    letter-spacing: 0.75px;
  }

  &__description {
    font-size: small;
    color: #4e4b66;
    margin-bottom: 15px;
  }

  &__ubication {
    text-decoration: none;
    color: colors.$primary-color;
  }
}

.fa-solid.fa-star {
  -webkit-text-stroke: 2px colors.$highlighted-content-color;
  -webkit-text-fill-color: transparent;
}

.booking-button {
  background-color: white;
  color: colors.$primary-color;
  border: 2px solid #d9dbe9;
  width: 150px;
  height: 35px;
  letter-spacing: 0.75px;
  font-size: small;
  border-radius: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .search-result {
    display: flex;
    flex-direction: row;
  }
  .booking-button {
    width: 100%;
  }
}
