@use "../variables/colors";

.search-box-container {
  padding: 43px 30px;
  width: 100%;
  display: flex;
  &__container {
    background-color: colors.$primary-color;
    height: 614px;
    width: 100%;
    border-radius: 20px;
    padding: 35px;
  }
  &__heading {
    color: colors.$background-color;
  }
}
